<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.bogdal.android.pager"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>
    <permission android:name="pl.bogdal.android.pager.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="pl.bogdal.android.pager.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application android:label="@string/app_name">
        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Dialog" android:name=".activity.DialogActivity" android:icon="@android:drawable/btn_dialog"></activity>

        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="pl.bogdal.android.pager" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />
    </application>
</manifest> 
